<h1>Questions</h1>
<ul>
  <% @questions.each do |question| %>
    <li><%= link_to "#{question.title} by #{question.user.username}, #{question.created_at.strftime("created on %m/%d/%Y at %I:%M%p")}", question_path(question) %></li>
  <% end %>
</ul>


<%= link_to "Ask Question", new_question_path %>
