Hi, <%= @user.username %>!

<p>
  Here's your current info:

  Email: <%= @user.email %>
</p>

<% if @user.questions.any? %>
  <h3>Here are your Questions:</h3>
  <ul>
    <% @user.questions.each do |question| %>
      <li><%= link_to question.title, question_path(question) %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.answers.any? %>
  <h3>Here are the Questions you've submitted answers for:</h3>
  <ul>
    <% @user.answers.each do |answer| %>
      <li><%= link_to answer.question.title, question_path(answer.question) %></li>
    <% end %>
  </ul>
<% end %>
